<div class="card-price__container">
	<div class="card-price__image">
		<app-card-image
			[pathImg]="imgGame"
			wImage="100%"
			hImage="100%"
			mTop="0px"
		/>
		<div class="card-price__image__plataforms">
			<span *ngFor="let plataform of plataforms">
				{{plataform}}
			</span>
		</div>
	</div>
	<div class="card-price__infos">
		<span class="order">pre-order</span>
		<div class="card-price__titles">
			<span>{{game}}</span>
			<span class="card-price__plataform"> - </span>
			<span *ngFor="let plataform of plataforms" class="card-price__pataform">
				{{plataform}}
			</span>
		</div>
		<div class="card-price__price">
			<span>R${{price}}</span>
		</div>
	</div>
</div>
