.home__categories{
	margin-top: 50px;
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px){
	.home__categories{
		grid-template-columns: repeat(3, 1fr);
	}
}

