
	<app-banner
		imgBanner="assets/suicide.png"
		titleBanner="Suicide Squad: Kill the Justice League"
		contentBanner="Dos criadores da série Batman: Arkham"
		textButton="Economize Já"
	/>
	<div class="home__categories">
		<div *ngFor="let path of pathsImagesGames">
			<app-card-image
				pathImg={{path.img}}
				/>
		</div>
	</div>

	<app-banner
		imgBanner="assets/ps-plus-banner.png"
		titleBanner="Descobre o PlayStation Plus"
		contentBanner="Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis."
		textButton="Saiba mais"
	/>

	<app-banner
		imgBanner="assets/playstation_stars.jpg"
		contentBanner="Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis."
		textButton="Saiba mais"
	/>

	<app-carousel [games]="pathsImagesGames" title="Lançamentos" />

	<app-carousel [games]="pathsImagesGames" title="Demonstrações" />

	<div class="home__categories">
		<div *ngFor="let path of pathsImagesCategorys">
			<app-card-image pathImg={{path}}/>
		</div>
	</div>




